@import "tailwindcss";

:root {
    --background: #CAF0F8;
    --foreground: #59a4b3;

    --brand: #00B4D8;
    --primary: #ADE8F4;
    --on-primary: #59a4b3;
    --secondary: #BCECF6;
    --on-secondary: #66bbcc;
    --tertiary: #e3faff;
    --on-tertiary: #59a3b3;
    --danger: #ffe2e2;
    --on-danger: #fb2c36;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #020326;
        --foreground: #0096C7;

        --primary: #05064d;
        --on-primary: #0096C7;
        --secondary: #040540;
        --on-secondary: #48CAE4;
        --tertiary: #080a80;
        --on-tertiary: #90E0EF;
        --danger: #82181a;
        --on-danger: #fb2c36;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-brand: var(--brand);
    --color-primary: var(--primary);
    --color-on-primary: var(--on-primary);
    --color-secondary: var(--secondary);
    --color-on-secondary: var(--on-secondary);
    --color-tertiary: var(--tertiary);
    --color-on-tertiary: var(--on-tertiary);
    --color-danger: var(--danger);
    --color-on-danger: var(--on-danger);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-ubuntu);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
